.container {
    display: flex;
    border: 10px solid yellow;
    height: 90vh;
    background-color: gainsboro;
    flex-direction: column;
    align-items: stretch;
}
.square {
    background-color: #555;
}

.blue {
    background-color: blue;
    flex: 0.5;
}
.red {
    background-color: red;
    flex: 1;
}
.purple {
    background-color: purple;
    flex: 5;
}
.green {
    background-color: green;
    flex: 0.5;
}
.vertical {
    display: flex;
    flex: 10;
}

p {
    color: white;
    font-weight: 900;
    text-align: center;
}