html,
body,
h3{
    margin: 0;
    border: 0;
    padding: 0;
}

.books_container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120px;
    padding: 10px;
    background-color: cornflowerblue;
    overflow: auto;
    gap: 10px;
}

.book {
    background-color: orange;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    white-space: nowrap;
}

.add_book_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_book_form {
    display: grid;
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
}

.form_content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.submit_form_button {
    background-color: cornflowerblue;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 100px;
    font-size: 3em;
    font-weight: bold;
}

.submit_form_button:hover {
    transform: scale(0.95);
}

.submit_form_button:active {
    transform: scale(0.85);
}