/* Transitions */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 64px;
    margin: 0;
}

.container {
    border: 3px solid greenyellow;

    display: block;
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
    transition:
    width 0.5s,
    height 0.5s,
    background-color 0.5s,
    rotate 0.5s;
}

.container:hover {
    background-color: fuchsia;
    width: 200px;
    height: 200px;
    rotate: 180deg;
}

nav {
    display: flex;
    gap: 0.5rem;
}

a {
    flex: 1;
    background-color: .333333;
    color: white;
    border: 1px solid;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
}

a:hover,
a:focus {
    background-color: white;
    color: .333333;
}

.animated {
    background-color: cornflowerblue;
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 1rem;
    transition: transform 200ms, opacity 400ms;
}

.animated:hover {
    transform: scale(0.9);
}

.animated:active {
    transform: scale(0.8);
    opacity: 0.3;
}

/* Keyframes */
.ball {
    width: 100px;
    height: 100px;
    background-color: red;
    border: 1px solid black;
    border-radius: 50%;
    animation-duration: 3s;
    animation-name: change-color;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    /* animation: 2s change-color infinite alternate; */
}

@keyframes change-color {
    from {
        background-color: red;
        transform: translateX(-30vw);
        opacity: 1;
    }

    50% {
        transform: scale(2);
        background-color: blue;
        opacity: 0.5;
    }

    to {
        transform: translateX(30vw);
        background-color: green;
        opacity: 1;
    }
}

.box {
    width: 100px;
    height: 100px;
    background-color: red;
    border: 1px solid black;
    animation: slide-in 1000ms infinite alternate;
    animation-delay: 500ms;
    animation-fill-mode: both; /* persistance of animation properties */
    align-self: self-start;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0.25;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.bounce {
    width: 75px;
    height: 75px;
    background: slateblue;
    padding: 8px;
    display: grid;
    place-content: center;
    color: white;
    text-align: center;
    border-radius: 50%;
    animation:
    bounce 300ms
    alternate infinite
    cubic-bezier(.2, .65, .6, 1);
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-20px);
    }
}

